nav > ul{
    display: flex;
       
}
nav li{
    list-style: none;
    padding: 0 10px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: palevioletred;
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: yellow;
    padding-left: 0;
}
nav li:hover .dropdown{
    display: block;
}